<launch>
	<rosparam command="load" file="$(find spacejockey)/config/tf_env.yaml" />
	<rosparam command="load" file="$(find spacejockey)/config/joints.yaml" />
	<rosparam command="load" file="$(find spacejockey)/config/planner.yaml" ns="planner" />
	<rosparam command="load" file="$(find spacejockey)/config/arduino.yaml" ns="arduino" />
	<rosparam command="load" file="$(find spacejockey)/config/flaws.yaml" ns="flaws" />
	<rosparam command="load" file="$(find spacejockey)/config/gui.yaml" ns="gui"/>
	<rosparam command="load" file="$(find spacejockey)/config/camera.yaml" />
	<param name="robot_description" textfile="$(find spacejockey)/resources/spacejockey.urdf" />
	<param name="clean_env_map" value="$(find spacejockey)/resources/clean_map.png" />
	<param name="dirty_env_map" value="$(find spacejockey)/resources/dirty_map.png" /> <!-- for testing -->
	<param name="vignette_img" value="$(find spacejockey)/resources/vignette.png" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="rob_joint_pub" />
	<node name="static_tf_server" pkg="tf_weighted" type="static_tf_server.py" args="-r 50" />
	<node name="sj_localization" pkg="spacejockey" type="localization.py" required="true"/>
</launch>
