<launch>
	<rosparam command="load" file="$(find spacejockey)/config/joints.yaml" ns="joints" />
	<rosparam command="load" file="$(find spacejockey)/config/planner.yaml" ns="planner" />
	<param name="robot_description" textfile="$(find spacejockey)/resources/spacejockey.urdf" />
	<node name="gaitgen" pkg="gait_generator" type="gait_generator.py" respawn="true"/>
	<node name="scheduler" pkg="scheduler" type="scheduler.py" />
	<node name="SerialUSB" pkg="rosserial_python" type="serial_node.py" />
	<node name="gui" pkg="rqt_sj" type="rqt_sj" respawn="true"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find spacejockey)/resources/spacejockey.rviz" required="true" />
	<node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 /world /center_foot 100"/>
</launch>
