<launch>
	<rosparam command="load" file="$(find spacejockey)/config/joints.yaml" />
	<rosparam command="load" file="$(find spacejockey)/config/planner.yaml" ns="planner" />
	<param name="robot_description" textfile="$(find spacejockey)/resources/spacejockey.urdf" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find spacejockey)/resources/spacejockey.rviz" required="true" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
	<!-- <node pkg="spacejockey" type="robot_init.py" name="robot_init" />
	<node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 1.57 0 0 /world /center_foot 100"/> -->
</launch>
