<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope="" itemtype="http://schema.org/WebPage">
<head>
	<title>MRSD Team B - "Space Jockey"</title>
	<link rel="stylesheet" href="styles.css">

	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="title" content="MRSD Team B - &quot;Space Jockey&quot;" />
	<meta itemprop="name" content="MRSD Team B - &quot;Space Jockey&quot;" />
	<meta property="og:title" content="MRSD Team B - &quot;Space Jockey&quot;" />
	<meta name="description" content="MRSD Team B, 2013-2014" />
	<meta itemprop="description" content="MRSD Team B, 2013-2014" />
	<meta id="meta-tag-description" property="og:description" content="MRSD Team B, 2013-2014" />
</head>
<body>
	<div class="wrapper">
		<header>
				<h1>MRSD Team B - "Space Jockey"</h1>
		</header>
			<main>
				{% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
				{{ content }}
			</main>
	<nav>
	<ul role="navigation">
		<li class="topLevel nav-first "><a href=".">Home</a></li>
		<li class="topLevel ">
			<a href="project-updates.html">Project Updates</a>
		</li>
		<li class="topLevel ">
			<a href="the-team.html">The Team</a>
		</li>
		<li class="topLevel parent ">
			Project Definition
			<ul role="navigation">
				<li><a href="problem-description.html">Problem Description</a></li>
				<li><a href="use-case.html">Use Case Scenario</a></li>
				<li class="parent">Design Inputs
					<ul role="navigation">
						<li><a href="system-level-requirements.html">System-Level Requirements</a></li>
						<li><a href="performance-metrics.html">Performance Metrics</a></li>
					</ul>
				</li>
				<li class="parent">Design Concepts
					<ul role="navigation">
						<li><a href="/project-definition/design-concept/brainstorming">Brainstorming</a></li>
						<li><a href="/project-definition/design-concept/functional-architecture">Functional Architecture</a></li>
						<li><a href="/project-definition/design-concept/physical-architecture">Physical Architecture</a></li>
					</ul>
				</li>
				<li class="parent">Subsystems
					<ul role="navigation">
						<li><a href="/project-definition/subsystems/robot">Robot Subsystems</a></li>
						<li><a href="/project-definition/subsystems/command-center">Command Center</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="topLevel parent ">Project Management
			<ul role="navigation">
				<li><a href="calendar.html">Calendar</a></li>
				<li><a href="https://github.com/Unchapped/MRSD-Team-B">GitHub Repository</a></li>
				<li><a href="https://github.com/Unchapped/MRSD-Team-B/issues">Tasks and Issues</a></li>
			</ul>
		</li>
		<li class="topLevel parent "><a href="/testing-and-verification">Testing and Verification</a>
			<ul role="navigation">
				<li><a href="/testing-and-verification/fall-semester-validation-test">Fall Semester Validation Test</a></li>
				<li><a href="/testing-and-verification/spring-semester-validation-test">Spring Semester Validation Test</a></li>
			</ul>
		</li>
		<li class="topLevel "><a href="/file-cabinet">Files</a></li>
		<li class="topLevel "><a href="/pictures-video">Media Gallery</a></li>
	</ul>
	</nav>
<footer></footer>
</div>
</body>
</html>