<library path="src">
  <class name="Space Jockey GUI" type="rqt_sj.rqt_sj.RqtSJ" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <label>RQT SJ</label>
      <icon type="theme">applications-other</icon>
      <statustip>Space Jockey Robot Operations GUI.</statustip>
    </qtgui>
  </class>
</library>
